.header {
  display: flex;
  background-color: #111010;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
  align-items: center;

  .header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0px 20px;
  }

  .search {
    display: flex;
    flex: 1;
    border-radius: 20px;
    margin: 0px 10px;
    .search_input {
      width: 100%;
      padding: 10px;
      height: 12px;
      border: none;
    }
    .search_icon {
      background-color: #cd9042;
      padding: 5px;
      height: 22px;
    }
  }

  .header_nav {
    display: flex;
    justify-content: space-evenly;
    color: white;
    .header_options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 10px;
      a {
        display: flex;
        justify-content: center;
        text-decoration: none;
      }
      .header_nav_option_one {
        color: white;
        font-size: 12px;
        font-weight: 600;
        line-height: 4px;
      }
      .header_nav_option_two {
        color: white;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
      }
      .shopingCartIcon {
        font-size: 40px;
      }
      .shopingCartIconCount {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }
  }
}
