.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 300px;

  min-height: 100px;
  padding: 15px;
  margin-left: 5px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  .subtotal_title {
    font-size: 20px;
    margin: 10px 0;
  }
  small {
    .subtotal_checkbox {
      margin-right: 5px;
    }
  }
  .subtotal_button {
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    background-color: #cd9042;
    border: none;
    border-radius: 2px;
    padding: 8px;
    margin-top: 20px;
  }
}
